<% provide(:title, 'Camera App') %>

<div id="wrap">
  <div class="container">

    <header></header>

    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Notice</h4>
          </div>
          <div class="modal-body">
            <p>This page requires a Webcam and either Google Chrome or Mozilla Firefox in order to take photos.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <section class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 camera">
        <canvas width="200" height="150"></canvas>
        <p class="photo_container"><img id="photo"></p>
        <%= audio_tag("cam.ogg") %>
        <%= image_tag("woodcam.png", alt: "Camera") %>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 display">
        <video autoplay="autoplay"></video>
        <%= image_tag("display.png", alt: "Display") %>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 backside">
        <%= image_tag("backside.png", class: "texture", alt: "Backside") %>
        <p class="shadow_1">Knopf<br> drücken</p>
        <p><%= image_tag("button.png", class: "trigger_button", alt: "Button") %></p>
        <p class="shadow_2">für<br> Aufnahme</p>
      </div>
    </section>

    <section class="row pictures">
      <% (0..5).each do |n| %>
        <%= content_tag :div, class: " col-xs-3 col-md-2 photo" do %>
          <%= content_tag :p, id: "image_#{n}" do %>
            <%= image_tag("quest_2.png", class: "image", alt: "question_mark") %>
          <% end %>
        <% end %>
      <% end %>
    </section>

  </div>
</div>

<%= render 'layouts/footer' %>
